<form action="/products/<%=@product["id"]%>" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="name" value="<%=@product["name"]%>">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price" value="<%=@product["id"]%>">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"><%= @product["description"]%></textarea>
  </p>

  <p>
    <label>Category:</label>
    <select name="category_id">
      <option value="0" selected>-none-</option> 
      <% @categories.each do |category| %>
      <option value="<%= category["id"] %>"><%= category["name"] %></option>
      <% end %>
    </select>
  </p>

  <p>
    <input type="submit" name="" value="Save the product changes.">
  </p>
</form>

